# Python
__pycache__/
*.pyc
.venv/
.uv/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Project
logs/
projects/*.rvproj.bak
models/**
!models/README.md
!models/model_registry.json
bin/**
sfx/**
config.json
config.key
